.home {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.login-form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.register-form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.profile-page {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.delete-page {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.delete-profile-btn {
  margin-left: 50px;
}

.home__buttons-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.home__loginBtn {
  margin-right: 20px;
}

.login__backBtn {
  margin-right: 20px;
}

.register__backBtn {
  margin-right: 20px;
}

.updateProfile__backBtn {
  margin-top: 20px;
  margin-right: 20px;
}

.updateProfile__saveBtn {
  margin-top: 20px;
  margin-right: 20px;
}

.updateProfile__changePwBtn {
  margin-top: 20px;
}
